<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">


    <title>Course</title>
  </head>
  <body>
    
    <!-- <img src="/Proj/templates/background.png"> -->
    <!-- <bg-image></bg-image> -->
<nav class="navbar navbar-expand-lg">
  <!-- expend function can be fixed with https://shuffle.dev/bootstrap/classes/navbar/navbar-expand-* -->
  <!-- navbar-light bg-light -->
  <div class="container">
    <a class="navbar-brand pd-0" href="/"><img src='../static/images/web_about--1.png' alt="LionCourse"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-10 ml-auto">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/search_page">Search</a>
        <a class="nav-link" href="/planner_page">Plan Semester</a>
        <a class="nav-link" href="/evaluation_page">Course Evaluation</a>
        <a class="nav-link" href="/">About</a>
        <!-- <a class="nav-link" href="{{ url_for('login') }}">Log Out</a> -->
        <a class="nav-link" id="user_email_nav" href="{{ url_for('login') }}"></a>

      </div>

    </div>
  </div>
</nav>
    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>





