{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

<script  type="text/javascript" src="{{ url_for('static', filename = 'rating_page.js') }}"> </script>

<script>

    let data = {{data|tojson}}

</script>

<div class="main-content">
    <div id="search_res">

    </div>
    <div class="rt-container">
        <div class="row">
            <h4 class="col-md-5">Workload</h4>
            <div class="col-rt-12">
                <div class="cont">
                    <div class="stars">
                        <form id="rating_1" onsubmit="return logWorkload(this)">
                            <input class="star star-5" id="star-5-1" type="radio" name="star"/>
                            <label class="star star-5" for="star-5-1"></label>
                            <input class="star star-4" id="star-4-1" type="radio" name="star"/>
                            <label class="star star-4" for="star-4-1"></label>
                            <input class="star star-3" id="star-3-1" type="radio" name="star"/>
                            <label class="star star-3" for="star-3-1"></label>
                            <input class="star star-2" id="star-2-1" type="radio" name="star"/>
                            <label class="star star-2" for="star-2-1"></label>
                            <input class="star star-1" id="star-1-1" type="radio" name="star"/>
                            <label class="star star-1" for="star-1-1"></label>
{#                            <button type="submit" class="btn p-0 search_button"y>#}
{#                                <img class="search_button_img" src="../static/images/web_search--1.png" style="object-fit: contain;"/>#}
{#                            </button> <span id="loading"></span>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rt-container">
        <div class="row">
        <!--<div class="col-rt-12">-->
            <h4 class="col-md-5">Accessibility</h4>
            <div class="col-rt-12">
                <div class="cont">
                    <div class="stars">
                        <form id="rating_2" action="">
                            <input class="star star-5" id="star-5-2" type="radio" name="star"/>
                            <label class="star star-5" for="star-5-2"></label>
                            <input class="star star-4" id="star-4-2" type="radio" name="star"/>
                            <label class="star star-4" for="star-4-2"></label>
                            <input class="star star-3" id="star-3-2" type="radio" name="star"/>
                            <label class="star star-3" for="star-3-2"></label>
                            <input class="star star-2" id="star-2-2" type="radio" name="star"/>
                            <label class="star star-2" for="star-2-2"></label>
                            <input class="star star-1" id="star-1-2" type="radio" name="star"/>
                            <label class="star star-1" for="star-1-2"></label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rt-container">
        <div class="row">
        <!--<div class="col-rt-12">-->
            <h4 class="col-md-5">Delivery</h4>
            <div class="col-rt-12">
                <div class="cont">
                    <div class="stars">
                        <form id="rating_3" action="">
                            <input class="star star-5" id="star-5-3" type="radio" name="star"/>
                            <label class="star star-5" for="star-5-3"></label>
                            <input class="star star-4" id="star-4-3" type="radio" name="star"/>
                            <label class="star star-4" for="star-4-3"></label>
                            <input class="star star-3" id="star-3-3" type="radio" name="star"/>
                            <label class="star star-3" for="star-3-3"></label>
                            <input class="star star-2" id="star-2-3" type="radio" name="star"/>
                            <label class="star star-2" for="star-2-3"></label>
                            <input class="star star-1" id="star-1-3" type="radio" name="star"/>
                            <label class="star star-1" for="star-1-3"></label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rt-container">
        <div class="row">
        <!--<div class="col-rt-12">-->
            <h4 class="col-md-5">Difficulty</h4>
            <div class="col-rt-12">
                <div class="cont">
                    <div class="stars">
                        <form id="rating_4" action="">
                            <input class="star star-5" id="star-5-4" type="radio" name="star"/>
                            <label class="star star-5" for="star-5-4"></label>
                            <input class="star star-4" id="star-4-4" type="radio" name="star"/>
                            <label class="star star-4" for="star-4-4"></label>
                            <input class="star star-3" id="star-3-4" type="radio" name="star"/>
                            <label class="star star-3" for="star-3-4"></label>
                            <input class="star star-2" id="star-2-4" type="radio" name="star"/>
                            <label class="star star-2" for="star-2-4"></label>
                            <input class="star star-1" id="star-1-4" type="radio" name="star"/>
                            <label class="star star-1" for="star-1-4"></label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="col-md-1 btn evaluation_btn ml-5" onclick="return rating()">
        Submit
    </button>
</div>

{% endblock %}