{% extends "layout.html" %}

{% block content %}

<script  type="text/javascript" src="{{ url_for('static', filename = 'search_page.js') }}"> </script>
    
<script>

    let data = {{data|tojson}}
    
</script>

<div class="main-content">
    <br/>
    <!-- <form id="search_form">
        <h1>Search for Courses</h1>
        <div class="form-group">
            <input type="text" class="form-control" id="search_keyword" name="search_keyword" placeholder="Try: Cloud Computing / 6156 / Donald" required/>
            <small></small>
        </div>
         <div class="d-flex"> -->
            <!-- <button type="submit" class="btn btn-dark">Search</button> <span id="loading"></span> -->
        <!-- <div> -->
    <!-- </form> --> 

    <form id="search_form_search" class="pt-3">  
        <div class="form-group">
            <div class="search_keyword_div ml-0">
                <button type="submit" class="btn p-0 search_button"y>
                    <img class="search_button_img" src="../static/images/web_search--1.png" style="object-fit: contain;"/>
                </button> <span id="loading"></span>
                <input class="search_input" id = "search_keyword" type="text" name="search_keyword" placeholder=" Search for courses" required/>
            </div>

            <!-- <input type="text" class="form-control search_keyword" name="search_keyword" placeholder=" Try: Cloud Computing / 6156 / Donald" required/> -->
        </div>
        
        <!-- <div class="d-flex"> -->
            <!-- <button type="submit" class="btn btn-dark">Search</button> <span id="loading"></span> -->
        <!-- <div> -->
    </form>

    <div class="container ">
        <div class="row pb-2 pt-2">
            <img src="../static/images/web_search--3.png" id="col_title_img"/>
            <!-- <div class="col-md-4">
                Course
            </div>
            <div class="col-md-3">
                Loc&Time
            </div>
            <div class="col-md-2">
                Instructor
            </div>
            <div class="col-md-2">
                Tag
            </div>
            <div class="col-md-1">
                Load
            </div> -->
        </div>
    </div>
    <div id="search_res">

    </div>
</div>


{% endblock %}