body {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("images/background.png");
    /* background-position: center center;  */
    background-repeat: no-repeat;
    /* background-size: 100% 100%;  */
    /* background: url('../templates/background.png') no-repeat center center fixed; */
    background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
    -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
    -moz-background-size: cover; /* optional for Firefox 3.6 */ 
    -o-background-size: cover; /* for Opera 9.5 */
    margin: 0; /* to remove the default white margin of body */
    padding: 0; /* to remove the default white margin of body */
    overflow: hidden;
}
.main-content {
    height: 100vh;
}

#hello_div{
    padding-top:  10px;
    padding-bottom:  10px;
    color: black;
}
#welcome_div{
    font-size: large;
    padding-top:  20px;
    padding-bottom:  20px;
}
#CPI_span{
    color: rgb(156, 156, 223);
}

.input_line{
    padding-top:20px;
    padding-bottom:20px;
}
.delete_btn{
    /* background-color: rgb(157, 153, 153); */
    border-style:solid;
    border-color: black;
}
.edit_btn{
    /* background-color: rgb(147, 147, 190); */
    border-style:solid;
    border-color: black;
}
.navbar{
    background-color: rgb(255, 255, 255, 0.8)
}

.nav-link{
    color:rgb(141, 139, 139);
    font-size: 20px;
    font-weight: 600
}
.welcome_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#search_form_welcome{
    margin-top: 12%;
}
#search_form_search{
    /* margin-top: 12%; */
    margin-left:0;
    padding-left: 0;
}
.search_keyword_div{
    /* background: url(images/web_search--1.png) no-repeat scroll ; */
    background-color: rgb(255, 255, 255, 0.8);
    /* padding-top:0px; */
    /* padding-left:30px; */
    width: 40%;
    /* margin:0 auto; */
    /* height: 10%; */
    /* margin: 0 auto; */
    border: none; /* <-- This thing here */
    border:solid 2px #ccc;
    border-radius: 20px;
}
.search_input{
    background-color: rgb(255, 255, 255, 0.8);
    border: none;
    /* align-items: center; */
    width: 70%;
    height: 40px;
    outline:none
}
.search_button{
    position: relative;
    margin-left: -5px;
    margin-right: -10px;
    width: 20%;
    height: 40px;
    margin-top: 0px;
    /* object-fit: contain; */
}
.search_button_img{
    position: relative;
    /* width: 100%; */
    height: 30px;
}
#col_title_img{
    width: 100%;
}
.row_search_res{
    /* font-family: Noto Sans, sans-serif; */
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    /* font-family: American Typewriter, serif; */
    margin-right: -2%;

}
.div_num_and_course{
    margin-left: 1%;
}
.div_new_instructor{
    margin-left: -3%;
}
.div_new_tag{
    margin-left:10%;
}
.evaluation_btn {
    font-size: small;
    margin-right: 2%;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border: none; /* <-- This thing here */
    border: solid 2px #ccc;
    border-radius: 10px;
}
.add_course_btn {
    font-size: small;
    margin-left: 0;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border: none; /* <-- This thing here */
    border: solid 2px #ccc;
    border-radius: 10px;
}
.remove_course_btn {
    font-size: small;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.6);
    border: none; /* <-- This thing here */
    border: solid 2px #ccc;
    border-radius: 10px;
}
div.stars {
    width: 270px;
    display: inline-block;
}
div.star:before {
    content: '\f005';
    color: #FD4;
    float: right;
    padding: 10px;
    font-size: 36px;
    /*font: var(--fa-font-solid);*/
    font-family: FontAwesome;
}
div.star-half-o:before {
    content: '\f123';
    color: #FD4;
    float: right;
    padding: 10px;
    font-size: 36px;
    font-family: FontAwesome;
}
div.star-o:before {
    content: '\f006';
    color: #444;
    float: right;
    padding: 10px;
    font-size: 36px;
    font-family: FontAwesome;
}
input.star { display: none; }
label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}
input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}
input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}
input.star-1:checked ~ label.star:before { color: #F62; }
label.star:hover { transform: rotate(-15deg) scale(1.3); }
label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
.rt-container {
	margin: 0 auto;
}
.rt-row:before, .rt-row:after {
    display: table;
    line-height: 0;
    content: "";
}
.rt-row:after {
    clear: both;
}
[class^="col-rt-"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding: 0px;
    min-height: 1px;
    position: relative;
}
/*@media (min-width: 768px) {*/
/*  .rt-container {*/
/*    width: 750px;*/
/*  }*/
/*  [class^="col-rt-"] {*/
/*    float: left;*/
/*    width: 49.9999999999%;*/
/*  }*/
/*  .col-rt-6, .col-rt-12 {*/
/*    width: 100%;*/
/*  }*/
/*}*/
/*@media (min-width: 1200px) {*/
/*	.rt-container {*/
/*		width: 1170px;*/
/*	}*/
/*	.col-rt-1 {*/
/*		width:16.6%;*/
/*	}*/
/*	.col-rt-2 {*/
/*		width:30.33%;*/
/*	}*/
/*	.col-rt-3 {*/
/*		width:50%;*/
/*	}*/
/*	.col-rt-4 {*/
/*		width: 67.664%;*/
/*	}*/
/*	.col-rt-5 {*/
/*		width: 83.33%;*/
/*	}*/
/*}*/
